* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #ffffff, #e6f0ff);
  min-height: 100vh;
  color: #161616ff;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
